@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", Arial;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px solid gray;
}

header .title {
  display: flex;
  align-items: center;
  flex-basis: 52%;
  justify-content: space-between;
}

header .title h1 {
  font-weight: 700;
}

header .title .title__list {
  list-style-type: none;
}

header .title .title__list li {
  display: inline-block;
  margin: 0 0.4rem;
}

header .title .title__list li a {
  text-decoration: none;
}
header .cart {
  display: flex;
  align-items: center;
  flex-basis: 15%;
  justify-content: space-between;
}

header .cart .cart__info {
  width: 50%;
}

header .cart .cart__info img {
  width: 90%;
}

.products {
  width: 100%;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.products__showcase {
  width: 50%;
  margin: 0 3rem;
}

.products__showcase .main-product {
  width: 100%;
  border-radius: 1rem;
}

.products__showcase-images {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  width: 100%;
}

.products__showcase-images img {
  width: 22%;
  border-radius: 10px;
}

.products__info {
  width: 50%;
  margin: 4.5rem 0 0 0;
}

.products__info-small {
  display: block;
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.products__info-title {
  font-size: 2.7rem;
  margin-top: 0.9rem;
}

.products__info p {
  word-spacing: 2px;
  line-height: 1.5rem;
  margin-top: 2rem;
}

.products__info-price div {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.products__info-price #discount {
  margin: 0 1rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.products__info-price #old-price {
  font-weight: 700;
}

.product__info-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.product__info-btns div {
  flex-basis: 40%;
  background: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.product__info-btns #add-to-cart {
  flex-basis: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.product__info-btns #add-to-cart span {
  margin-left: 0.5rem;
  padding-top: 5px;
}
